[Unit]
Description=Fully automatic cross-seeding for torrent trackers
Documentation=https://www.cross-seed.org/docs/basics/getting-started
Wants=network.target
After=network.target
RequiresMountsFor=/var/lib/virtiofs/ssd
RequiresMountsFor=/var/lib/virtiofs/hdd

[Container]
ContainerName=cross-seed

# Image
Image=cross-seed.image
AutoUpdate=registry

# Security
User=10017
Group=10000

# Storage
Volume=/var/lib/virtiofs/ssd/cross-seed/config:/config:z
Volume=/var/lib/virtiofs/hdd:/data:z

# Network
AddCapability=CAP_NET_BIND_SERVICE
Network=host

# Configuration
Environment=TZ=Etc/UTC HOME=/config
Exec=daemon

[Install]
WantedBy=seedbox.target
