[Unit]
Description=Prowlarr is an indexer manager/proxy built on the popular *arr .net/reactjs base stack to integrate with your various PVR apps.
Documentation=https://docs.linuxserver.io/images/docker-prowlarr/
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/virtiofs/data
ConditionPathIsMountPoint=/var/lib/virtiofs/data

[Container]
ContainerName=prowlarr

# Image
Image=prowlarr.image
AutoUpdate=registry

# Security
User=10017
Group=10000

# Storage
Volume=/var/lib/virtiofs/data/prowlarr/config:/config:z
Volume=/var/lib/virtiofs/data/storage:/data:z

# Network
AddCapability=CAP_NET_BIND_SERVICE
Network=host

# Configuration
Environment=PUID=10017 PGID=10000 TZ=Etc/UTC HOME=/config TMPDIR=/config/tmp
Entrypoint=/app/prowlarr/bin/Prowlarr
Exec=-nobrowser -data=/config
WorkingDir=/app/prowlarr/bin

[Install]
WantedBy=seedbox.target
