[Unit]
Description=Radarr is a movie collection manager for Usenet and BitTorrent users.
Documentation=https://docs.linuxserver.io/images/docker-radarr/
Wants=network.target
After=network.target
RequiresMountsFor=/var/lib/virtiofs/ssd
RequiresMountsFor=/var/lib/virtiofs/hdd

[Container]
ContainerName=radarr

# Image
Image=radarr.image
AutoUpdate=registry

# Security
User=10017
Group=10000

# Storage
Volume=/var/lib/virtiofs/ssd/radarr/config:/config:z
Volume=/var/lib/virtiofs/hdd:/data:z

# Network
AddCapability=CAP_NET_BIND_SERVICE
Network=host

# Configuration
Environment=PUID=10017 PGID=10000 TZ=Etc/UTC HOME=/config TMPDIR=/config/tmp
Entrypoint=/app/radarr/bin/Radarr
Exec=-nobrowser -data=/config
WorkingDir=/app/radarr/bin

[Install]
WantedBy=seedbox.target
