[Unit]
Description=Smart PVR for newsgroup and bittorrent users.
Documentation=https://docs.linuxserver.io/images/docker-sonarr/
Wants=network.target
After=network.target
RequiresMountsFor=/var/lib/virtiofs/ssd
RequiresMountsFor=/var/lib/virtiofs/hdd

[Container]
ContainerName=sonarr

# Image
Image=sonarr.image
AutoUpdate=registry

# Security
User=10017
Group=10000

# Storage
Volume=/var/lib/virtiofs/ssd/sonarr/config:/config:z
Volume=/var/lib/virtiofs/hdd:/data:z

# Network
AddCapability=CAP_NET_BIND_SERVICE
Network=host

# Configuration
Environment=PUID=10017 PGID=10000 TZ=Etc/UTC HOME=/config TMPDIR=/config/tmp

Entrypoint=/app/sonarr/bin/Sonarr
Exec=-nobrowser -data=/config
WorkingDir=/app/sonarr/bin

[Install]
WantedBy=seedbox.target
