[Unit]
Description=PostgreSQL Service Target
Documentation=man:systemd.target(5)
Requires=postgresql-server.service postgresql-upgrade.service postgresql-init.service postgresql-set-major.service postgresql-backup.timer
After=postgresql-server.service postgresql-upgrade.service postgresql-init.service postgresql-set-major.service
Before=postgresql-backup.timer

# Allow isolation - can stop/start this target independently
AllowIsolate=yes
# Only start if PostgreSQL has been configured
ConditionPathExists=/etc/quadlets/postgresql/config.env

[Install]
WantedBy=multi-user.target
