[Unit]
Description=Nextcloud Service Target
Documentation=man:systemd.target(5)
Requires=postgresql.target nextcloud-redis.service nextcloud-nginx.service nextcloud-app.service nextcloud-init.service nextcloud-upgrade.service nextcloud-cron.timer
After=postgresql.target nextcloud-redis.service nextcloud-nginx.service nextcloud-app.service nextcloud-init.service nextcloud-upgrade.service
Before=nextcloud-cron.timer

# Allow isolation - can stop/start this target independently
AllowIsolate=yes
# Only start if Nextcloud has been configured
ConditionPathExists=/etc/quadlets/nextcloud/config.env

[Install]
WantedBy=multi-user.target
