[Unit]
Description=Nextcloud Application - Initialization
Documentation=https://hub.docker.com/_/nextcloud/
PartOf=nextcloud.target

[Timer]
OnActiveSec=5min
RandomizedDelaySec=15s
DeferReactivation=true

[Install]
WantedBy=nextcloud.target
