[Unit]
Description=Mount the "data" virtio filesystem
Requires=discover-virtiofs-tags.service
After=discover-virtiofs-tags.service

# Only run if the "data" tag is present (as discovered by discover-virtiofs-tags.service)
ConditionPathExists=/run/quadlets/base/virtiofs/data

[Mount]
What=data
Where=/var/lib/virtiofs/data
Type=virtiofs
Options=context=system_u:object_r:container_file_t:s0

[Install]
WantedBy=local-fs.target
