[Unit]
Description=Nextcloud Application - Cron Job
Documentation=https://hub.docker.com/_/nextcloud/
After=nextcloud-redis.service postgresql-server.service var-lib-virtiofs-data.mount
Requires=nextcloud-redis.service postgresql-server.service var-lib-virtiofs-data.mount

# Only start if Nextcloud has been configured
ConditionPathExists=/etc/quadlets/nextcloud/config.env
# and initialized (config.php exists)
ConditionPathExists=/var/lib/virtiofs/data/nextcloud/config/config.php

[Container]
ContainerName=nextcloud-cron-job
Image=docker.io/library/nextcloud:${NEXTCLOUD_MAJOR}-fpm-alpine

# No need for root privileges
User=www-data
Group=www-data

# UID/GID mapping to map the www-data (82) user inside the container to arbitrary user 10008 / group 10000 on the host
UIDMap=0:1000000:82
UIDMap=82:10008:1
UIDMap=83:1000083:65453
GIDMap=0:1000000:82
GIDMap=82:10000:1
GIDMap=83:1000083:65453

# Network configuration
Network=host

# Environment variables from config
EnvironmentFile=/etc/quadlets/nextcloud/config.env

# This is specific to the cron container
Entrypoint=php
Exec=-f /var/www/html/cron.php

# Volume mounts
Volume=/var/lib/virtiofs/data/nextcloud:/var/www/html:z
Volume=/etc/quadlets/nextcloud/www.conf:/usr/local/etc/php-fpm.d/www.conf:Z
Volume=/run/quadlets/nextcloud/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini:Z

[Service]
Restart=no
TimeoutStartSec=600

# These environment variables are sourced to be used by systemd in the Exec* commands
EnvironmentFile=/etc/quadlets/nextcloud/config.env

# This container is a job - run once to completion
Type=oneshot

# Wait for PostgreSQL to be ready
ExecStartPre=/bin/sh -c 'exec 2>/dev/null; for try in $(seq 0 12); do if ! /bin/true 5<> /dev/tcp/127.0.0.1/5432; then echo "Waiting for PostgreSQL to be available..."; sleep 5; else exit 0; fi; done; exit 1'

# Wait for Redis to be ready
ExecStartPre=/bin/sh -c 'exec 2>/dev/null; for try in $(seq 0 12); do if ! /bin/true 5<> /dev/tcp/127.0.0.1/6379; then echo "Waiting for Redis to be available..."; sleep 5; else exit 0; fi; done; exit 1'

[Install]
WantedBy=nextcloud-cron.timer
