[Unit]
Description=Mount the "data" virtio filesystem

# Only run on Fedora CoreOS
ConditionOSRelease=ID=fedora
ConditionOSRelease=VARIANT_ID=coreos

[Mount]
What=data
Where=/var/lib/virtiofs/data
Type=virtiofs
Options=context=system_u:object_r:container_file_t:s0

[Install]
WantedBy=local-fs.target
